[2022-01-23 18:05] misterrichie opened #1 "isn't populating devices in drop down of stream deck"
![StreamDeck_vbXwrDacKH](https://user-images.githubusercontent.com/26924876/150691718-a9ee8f0c-fe30-43ad-89fc-a8e6d3e502c6.png)

After receiving API from Govee, and entering into Stream Deck, everything looks okay, but the devices connected to the account are not populating the field and instead show this yellow-orange line

[2022-01-23 21:20] Joshkmillr opened #2 "setup failed: sucess"
![image](https://user-images.githubusercontent.com/98286253/150698346-11a82007-f82c-4cfc-8f50-ec6c7244440c.png)

Received the API Key from Govee and after entering it into the Stream Deck and connecting, a "setup failed: success" message appears.

[2022-01-23 21:45] GeekyEggo commented on #2
Haha, oh dear, that's an interesting one. Could I ask you to:
1. Download and install the latest beta version of the plugin from [here](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin).
2. With the beta version, try connecting to Govee again.
3. Upload the logs from `%appdata%\Elgato\StreamDeck\Plugins\com.geekyeggo.goveecontroller.sdPlugin

[2022-01-23 21:46] GeekyEggo commented on #1
Hey @misterrichie, to help us figure out what's going on, could I ask you to:

1. Download and install the latest beta version of the plugin from here.
1. With the beta version, try connecting to Govee again.
1. Upload the logs from `%appdata%\Elgato\StreamDeck\Plugins\com.geekyeggo.goveecontroller.sdPlugin\logs`.

[2022-01-24 04:58] Joshkmillr commented on #2
[GoveeController.log](https://github.com/GeekyEggo/GoveeController/files/7922752/GoveeController.log)

[2022-01-24 20:37] Joshkmillr commented on #2
[GoveeController.log](https://github.com/GeekyEggo/GoveeController/files/7928671/GoveeController.log)

Still no luck. I believe it has to do with Wi-Fi. For background, my apartments Wi-Fi is a bit weird (its a student apartment) . Each connected device that has its own MAC address has its own password. So devices such as google home/Alexa etc. that are connected to Wi-Fi through an app are not ab

[2022-01-25 14:41] GeekyEggo commented on #2
Thanks for the update Josh; as the Govee API relies pretty heavily on WiFi, I would definitely speculate the current setup being troublesome. I'm not sure if it would work, but you could try tethering your devices to your phone via a hotspot?

[2022-01-26 13:48] GeekyEggo commented on #2
As I'm not able to assist any further I'm going to close this @Joshkmillr; if you are eventually able to connect the devices to WiFi, and continue to encounter problems with the plug-in, please let me know I can re-open this issue.

[2022-01-26 13:48] #2 closed

[2022-01-26 13:50] GeekyEggo commented on #1
Hi @misterrichie, as I haven't heard from you I'm going to close this in the hope everything has been resolved.

If you find you're still unable to see your devices, please ensure the devices are connected via Bluetooth and WiFi. Should you continue to encounter problems please feel free to comment here and we can re-open the issue.

[2022-01-26 13:50] #1 closed

[2022-01-26 14:39] misterrichie commented on #1
2022-01-26 06:37:28.2556 [ERROR] GoveeController.Services.GoveeConnectorBackgroundService: Unable to connect to Govee: "API key is missing".
2022-01-26 06:37:35.0859 [DEBUG] GoveeController.Services.GoveeService: Getting devices from API.
2022-01-26 06:38:41.3628 [DEBUG] GoveeController.Services.GoveeService: Getting devices from API.
2022-01-26 06:38:41.7634 [DEBUG] GoveeController.Govee.GoveeHtt

[2022-01-26 14:43] misterrichie commented on #1
still getting a blank dropdown field and double checked amy plugs. Could it be an issue with the API Key they gave me?

[2022-01-26 15:08] GeekyEggo commented on #1
Are your devices configured for both Bluetooth and WiFi? The Govee is a bit brittle and requires devices to be connected via WiFi to control them via the API.

[2022-01-26 15:26] misterrichie commented on #1
yup. They are the new dual plugs.

[2022-01-26 16:07] GeekyEggo commented on #1
Within the device settings; are they connected to the WiFi network?

[2022-01-26 17:03] misterrichie commented on #1
Yup!
https://i.imgur.com/YAsn6DH.jpg

[2022-01-26 17:08] GeekyEggo commented on #1
From the view you've uploaded, if you select the cog in the top right, can you tell me what the "Product Model" is please?

[2022-01-26 18:23] misterrichie commented on #1
H5082

[2022-01-26 20:14] thesach opened #3 "Not storing API KEy"
## Description

I have the API key entered and it works but then when I go to push the button some time later the key is not showing the button.

## Reproduction Steps

_Steps to reproduce the behaviour:_
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error.

## Expected Behaviour

_A clear and concise description of what you expected to happen._

## Logs and Screenshots

- _Pleas

[2022-01-26 20:40] GeekyEggo commented on #3
Hey @thesach, could I ask you to download the latest beta version from [here](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin) and try using the plug-in again. When you encounter the problem, upload the logs and I’ll take a look.

[2022-01-26 20:43] GeekyEggo commented on #1
Sadly, looking at the [API documentation](https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf), that doesn’t appear to be a supported model for the public API.

[2022-01-26 22:02] misterrichie commented on #1
darn. I guess I'll have to wait it out then. Or maybe see if I'm a trendsetter and demand from more consumers causes them to fix that.

[2022-02-06 09:56] GeekyEggo commented on #3
Closing this as I’ve not heard anything; if the problem persists feel free to comment.

[2022-02-06 09:56] #3 closed

[2022-02-07 13:49] MikewrightJS commented on #3
I actually have the same issue with the latest version, hit the error multiple times, which log should i upload?

[2022-02-07 14:13] GeekyEggo commented on #3
Hey @MikewrightJS; if you try with [the latest beta version](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin), and if the problem persists upload the logs at `%appdata%\Elgato\StreamDeck\Plugins\com.geekyeggo.goveecontroller.sdPlugin\logs` I’ll take a look.

[2022-02-07 15:01] MikewrightJS commented on #3
[GoveeController.log](https://github.com/GeekyEggo/GoveeController/files/8016274/GoveeController.log)

[2022-02-07 18:34] GeekyEggo commented on #3
Thanks @MikewrightJS, I've updated the latest beta to help identify what's going on;

- Improve button feedback based on settings.
- Improve button feedback based on success response.
- Improve logging of global API key existence.
- Update request interception for missing API keys to not reset global settings.

Could I ask you download the [latest beta](https://github.com/GeekyEggo/GoveeController

[2022-02-07 21:40] MikewrightJS commented on #3
[GoveeController.log](https://github.com/GeekyEggo/GoveeController/files/8018931/GoveeController.log)

Hello no problem. After downloading the latest beta i am getting the same issue of an empty object in data from the api.

[2022-02-07 21:42] GeekyEggo commented on #3
Hmm, so I understand correctly, is the flow:
1. Input API key successfully
2. See list of devices and setup action
3. Wait some time, see this error
4. Repeat from step 1?

[2022-02-08 13:20] MikewrightJS commented on #3
I don't make it past option 1.
![image](https://user-images.githubusercontent.com/98807207/152995284-fb755d24-4779-44d6-bd3c-ec981075b208.png)

[2022-02-08 13:21] MikewrightJS commented on #3
![image](https://user-images.githubusercontent.com/98807207/152995402-f884949c-3cec-4206-b9bb-6afe69e0fdff.png)
I dont make it past option 1 (removed api key for the screenshot)

[2022-02-08 13:52] GeekyEggo commented on #3
Good news @MikewrightJS, I think I might have found the root cause of the problem! Check out the [latest beta](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin) and let me know if it fixes it for you.

[2022-02-12 05:35] Spartan461 opened #4 "1.Stream Deck App not working with Govee light strip. 2. how to use "scene" from Govee app on stream deck."
## Pre-checks

- [x] The device is connected via WiFi.
- [x] The device is supported by the public API. ([list of supported devices](https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf)).

## Description
- Describe the bug; a clear and concise description of what the bug is.
- Include the affected product's model number.

## Logs and Screenshots

- Please attach logs from `%

[2022-02-20 01:22] GeekyEggo commented on #4
Closing this as it’s gone quiet; happy to re-open if the problem persists.

[2022-02-20 01:22] #4 closed

[2022-02-23 21:37] Xenphu opened #5 "Hello, I need help connecting my govee lights to my stream deck"
## Pre-checks

- [x] The device is connected via WiFi.
- [x] The device is supported by the public API. ([list of supported devices](https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf)).

## Description
- Describe the bug; a clear and concise description of what the bug is.
- Include the affected product's model number.

## Logs and Screenshots

- Please attach logs from `%

[2022-02-23 21:45] Xenphu commented on #5
Hello, I connected my govee lights to my stream deck however, the functions are not working.

[2022-02-23 21:50] GeekyEggo commented on #5
Hi @Xenphu, could I ask you to try with the latest [beta version](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin), and if the problem still persists upload the logs found at `%appdata%\Elgato\StreamDeck\Plugins\com.geekyeggo.goveecontroller.sdPlugin\logs `

[2022-02-23 21:50] Xenphu opened #6 "Hello, My govee lights are not working with my stream deck"

[2022-02-23 21:53] Xenphu commented on #5
i dowloaded the latest beta version

[2022-02-23 21:54] Xenphu commented on #5
how do i do the upload logs?

[2022-02-23 21:55] Xenphu commented on #5
or what do i do after i download it?

[2022-02-23 21:56] GeekyEggo commented on #5
After downloading the beta, if you double-click it it will install the latest version. Hopefully this will solve the problem.

[2022-02-23 21:57] Xenphu commented on #5
i downloaded it but, it still doesn't work

[2022-02-23 21:58] Xenphu commented on #5
how do i do upload logs?

[2022-02-23 21:58] GeekyEggo commented on #5
You should be able to drag/drop the upload file here.

[2022-03-03 17:33] misterburnz opened #7 "API Key not taking"
I snagged your plugin (which FINALLY someone was able to make one for Govee, big thanks) but when I put the API key in, it just holds at "Connecting..." indefinitely and if I click away from that module, I have to re-enter my API, going into a bit of a loop. Any suggestions?

[2022-03-03 19:39] GeekyEggo commented on #5
Hi @Xenphu I'm closing this, but if you continue to have problems please let me know and we can discuss things here.

[2022-03-03 19:39] #5 closed

[2022-03-03 19:40] GeekyEggo commented on #7
Hey @misterburnz, could I ask you to try with the latest beta version ([download link](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin)); if the problem persists we can take a further look into things.

[2022-03-03 20:15] misterburnz commented on #7
I've deleted the old folder, then ran the beta with the link you provided, and it still appears to be having the same issue

[2022-03-03 20:42] GeekyEggo commented on #7
No problems; if upload the log files here, I'll take a look at what's happening. They can be found at:
`%appdata%\Elgato\StreamDeck\Plugins\com.geekyeggo.goveecontroller.sdPlugin\logs`

[2022-03-03 20:46] misterburnz commented on #7
[GoveeController.log](https://github.com/GeekyEggo/GoveeController/files/8181028/GoveeController.log)

I assume that is the file you're looking for?

[2022-03-08 13:36] GeekyEggo commented on #7
The logs aren't highlighting any issues; would you be able to screen capture what's happening? You should be able to upload the .mp4 directly here.

[2022-03-08 13:57] misterburnz commented on #7
API field covered, however it is the most recent one I've received from Govee.

https://user-images.githubusercontent.com/88789518/157251998-2436a8c6-c11c-4759-800f-8a916d6e7877.mp4

[2022-03-20 17:36] Uzae opened #8 "API Key issue."
![image](https://user-images.githubusercontent.com/34613124/159175028-64b1ba0e-ac1e-4d55-b1c3-94f5965ce848.png)
I paste the api key and then it shows "Setup failed: success" and the button does nothing. I've tried getting a new API key or removing the dashes but it seems the format originally was correct but it's just not working.

[2022-03-20 17:51] GeekyEggo commented on #8
Hey @Uzae, could I ask you to download and install the latest beta version ([direct link](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin)), and try again. Hopefully this should fix the problem.

[2022-03-21 00:12] Uzae commented on #8
So it has worked, however my device isn't showing up. They're the Govee RGBIC LED Strip Lights.
![image](https://user-images.githubusercontent.com/34613124/159192038-8a299e98-cb67-47a1-9767-cce4a4ecca96.png)

[2022-03-21 09:28] GeekyEggo commented on #8
Glad to hear that solved the problem; regarding the lights not being listed:
1. Is the device listed [here](https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf)?
1. Are the lights connected via WiFi? (Bluetooth is not supported by the Govee AIP)

[2022-04-02 18:56] jaelynmackenzie opened #9 "No devices showing in Govee Controller for Streamdeck"
I originally had the setup failed:success poppup when attempting to enter API but after reading the previous forums I downloaded the updated version that was linked in those comments. API is now accepted. But the the problem I am now experiencing is in the device list none of my devices are showing. I have the h6125 (product model) strip lights. I saw that a previous poster had been having this sa

[2022-04-03 00:22] GeekyEggo commented on #9
Hi @jaelynmackenzie, thank you for your efforts into resolving the problem; everything you've tried would've been my recommendations. I've reviewed the list of supported devices within the [Govee API document](https://govee-public.s3.amazonaws.com/developer-docs/GoveeDeveloperAPIReference.pdf), and sadly H6125 isn't listed there I'm sorry to say but I won't be able to resolve this issue.

Hopefull

[2022-04-03 00:22] #9 closed

[2022-04-03 00:27] GeekyEggo commented on #8
Closing as inactive, but I am happy to discuss further if required.

[2022-04-03 00:27] #8 closed

[2022-04-13 01:14] clubkevyumba opened #10 "Govee lights don't turn off when using either toggle or specific "off" function"
Hey there!

First off thanks so much for making this plug in! Just started using it and seemed to have run into a problem where the lights have no issues turning on and changing to the desired color, but when going to turn off, they'll turn off and then turn back on at the end of the button action sequence. For some context, I set up the lights in a multi-action button because i have three ceiling

[2022-04-13 01:19] clubkevyumba commented on #10
never mind, i figured out the issue! I forgot to delete the color change commands in the "off" button. that seemed to fix it!

[2022-04-13 01:19] #10 closed

[2022-04-17 18:05] topperge opened #11 "Mac Support"
This plugin is awesome, but I'd love to see support for it on the Mac as well. Not sure what I can do to help make that happen, but would be more than happy to support in some way.

[2022-04-17 18:14] GeekyEggo commented on #11
Hey @topperge, thanks for the kind words; good news, the latest beta version comes with support for Mac. This isn’t on the Elgato store yet, but you can [download it from here](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin) directly.

[2022-04-18 04:05] topperge commented on #11
Awesome, installed now. Now I just need to figure out how to chain commands together.

[2022-04-18 04:05] #11 closed

[2022-05-10 05:30] coziestz opened #12 "Actions not working"
I have setup the govee plugin with my streamdeck mini, the api key and everything was inputted correctly, it comes up with the name of my device in the dropdown menu, but when I press the stream deck button to try and do an action (ie shutting off the lights) nothing happens, a green checkmark appears over the icon, and my lights do nothing. how do I fix this?

[2022-05-10 14:59] GeekyEggo commented on #12
Hey @coziestz, could I ask you to [download the latest beta](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin) version and try again. Hopefully this should resolve the problem, but if it persists, could you upload the logs located at: `%appdata%\Elgato\StreamDeck\Plugins\com.geekyeggo.goveecontroller.sdPlugin\logs`

[2022-05-15 15:03] danielbmarshall commented on #12
Same issue here for me, even after installing the latest beta and installing on Windows 11 host. Logs attached
[GoveeController.log](https://github.com/GeekyEggo/GoveeController/files/8695243/GoveeController.log)
.

[2022-05-15 15:21] danielbmarshall commented on #12
Could this be related to the new Rate limiting released on May 4? Do I just need to add a delay of XX ms between multiaction calls? https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf

[2022-05-15 16:00] GeekyEggo commented on #12
@danielbmarshall thanks for uploading your logs file. The problem you're encountering definitely appears to be rate limit related, although the concerning part is:
[code]
The intention of the cache is to _prevent_ multiple calls to the API, which appears may not be the case. I'm not sure if this is a direct result of the changes to the Govee API so it will need further investigation.

The logs do

[2022-05-15 16:02] GeekyEggo commented on #7
@misterburnz apologies for my lack of reply; did this issue ever resolve itself?

[2022-05-16 14:20] GeekyEggo commented on #12
Thank you for the detailed description @danielbmarshall, it helps a lot when debugging issues. From your analysis, I fear you might be right, and this is restricted by the rate limiting introduced by Govee in early May. Sadly there isn't currently an idle way to resolve this, but my recommendations would be:

1. Where possible, avoid "toggle" actions; these require two requests, one to query the s

[2022-05-16 14:24] GeekyEggo commented on #12
Thank you for the detailed description @danielbmarshall, it really helps when debugging issues such as these.

Referring to the [API documentation](https://govee-public.s3.amazonaws.com/developer-docs/GoveeDeveloperAPIReference.pdf) it _should_ be possible to run the actions you've listed. The limits are:
- 10,000 per day.
- Get devices, 10 per minute.
- Get device state, 10 per minute, per device

[2022-05-17 00:56] jordanrvillarreal commented on #12
I have a similar issue going on, but it doesn't appear to be tied to the API rate limits.  I've attached a sanitized log.  Mac client, using the latest beta you've linked in this thread.  The log shows that the refreshes are occurring so it's at least interfacing properly up front.  Device list populates.  However, when I press a button on the Stream Deck it doesn't make a call out.  I've confirme

[2022-05-17 21:27] GeekyEggo commented on #12
@danielbmarshall are you also running on macOS? I'm a little perplexed as to what's happening, as this evening I've run some tests locally and everything seem fine... as are these things typically when trying to debug thing, lol. 😅

I've created [beta 1.2.1](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin) which improves logging further. Co

[2022-05-18 15:16] jordanrvillarreal commented on #12
Ok, so I can pretty safely say my issue had _nothing_ to do with the plug in at this point.  For me, and it took a bit to catch on, my entire Stream Deck had stopped accepting button presses.  Even simple things like navigating through folders had broken but I didn't notice it as I was focused on this plug-in.  So with a series of uninstalls, reboots, OS upgrades, etc... It started working for me.

[2022-05-19 13:33] danielbmarshall commented on #12
Thank you for your patience! Windows 11 host, fully patched. Downloaded and installed the Beta 1.2.1. Restarted the Govee software app several times for good measure on the PC, and cleared the existing logs. Pressed the "Chill" multi action button on the Stream Deck, with no apparent affect on lighting as a result. I've attached the logs as well as grabbing the pertinent section from the Profile (

[2022-05-19 14:50] GeekyEggo commented on #12
Thanks @danielbmarshall, I've checked the logs and confusingly it looks like they aren't from the latest beta. I suspect this might be Stream Deck being funky. Could I ask you to...
1. Exit Stream Deck.
2. Navigate to the plugin folder `%APPDATA%\Elgato\StreamDeck\Plugins`.
3. Delete `com.geekyeggo.goveecontroller.sdPlugin`.
4. Run the beta installer.

[2022-05-19 19:33] danielbmarshall commented on #12
Plugin folder deleted and beta 1.2.1 installed. New log file attached.
[GoveeController.log](https://github.com/GeekyEggo/GoveeController/files/8733723/GoveeController.log)

[2022-07-03 17:08] MozohTTV commented on #9
i have the same problem i have the Govee RGBIC LED Strip

[2022-07-03 17:13] GeekyEggo commented on #9
@MozohTTV are you seeing “failed: success”? If so, that is resolved in the latest beta.

[2022-07-03 17:14] MozohTTV commented on #9
no i dont that one is solved but i can't see any device in the device list

[2022-07-03 17:16] GeekyEggo commented on #9
Could I ask you to upload your logs files please; they’re found at:
`%appdata%\Elgato\StreamDeck\Plugins\com.geekyeggo.goveecontroller.sdPlugin\logs`

[2022-07-03 17:16] MozohTTV commented on #9
my device is the h6127 btw

[2022-07-03 17:17] MozohTTV commented on #9
here you go
[GoveeController.log](https://github.com/GeekyEggo/GoveeController/files/9035208/GoveeController.log)

[2022-07-03 17:20] GeekyEggo commented on #9
Sadly this model doesn’t look to be supported by [Govee’s API](https://govee-public.s3.amazonaws.com/developer-docs/GoveeDeveloperAPIReference.pdf).

[2022-07-10 03:55] Nob0dyExp3cts opened #13 "Capacity issue"
Is there a limit to how many devices can be controlled in one multi action via the API

I use about 10 or so Govee devices and just installed another one. Now when I use my multiactions the last device in the command line doesn't change.

[2022-08-03 01:12] souzabg opened #14 "API Connects but device list is empty and refresh doesn't work."
![image](https://user-images.githubusercontent.com/44931685/182502874-ac06407b-52d6-45a1-9486-4d914bbed983.png)

[2022-08-03 08:19] GeekyEggo commented on #14
Couple of things things to check;
1. Is the device model listed as supported in the [Govee API documentation](https://govee-public.s3.amazonaws.com/developer-docs/GoveeDeveloperAPIReference.pdf)?
2. If yes to the above, is the device connected to WiFi?

[2022-08-03 17:39] souzabg commented on #14
Hello sorry for the late response but my device is model H6147 which I could be wrong but I don’t think are supported even though they are WiFi. I also think that my lights are connected to WiFi as they work on the app to turn on through WiFi.

Thanks

[2022-08-03 18:53] GeekyEggo commented on #14
Sadly if they aren’t supported by Govee’s public API, it won’t be possible to control them using the plug-in. Hopefully they add support soon!

[2022-08-03 18:53] #14 closed

[2022-08-09 09:17] Lukka05derechte opened #15 "problem with my device selection"
Hi I have a problem with my device selection because no device is displayed from my Govee devices.

https://user-images.githubusercontent.com/91662781/183612482-9212bc17-247a-45a6-8f83-3551a1199b5a.mp4

.

[2022-08-09 20:04] GeekyEggo commented on #15
Hi Lukka, couple of questions,

1. What is the model of your device?
2. Is the device connected to WiFi?

[2022-08-09 20:51] Xavier141524 commented on #15
Hi having the same issue also. unable to select the devices...

Thanks!

[2022-08-09 20:52] GeekyEggo commented on #15
Same questions apply, @Xavier141524.

[2022-08-09 20:54] Xavier141524 commented on #15
Sure my device is H6147 light strips and they are connected to wifi

[2022-08-09 20:59] GeekyEggo commented on #15
Sadly H6147 isn’t supported by the public [Govee API](https://govee-public.s3.amazonaws.com/developer-docs/GoveeDeveloperAPIReference.pdf). As soon as they add support, it will automatically become available within the plug-in.

[2022-08-09 21:00] Xavier141524 commented on #15
That sounds good, thank you for the quick reply!

[2022-08-11 16:02] Lukka05derechte commented on #15
Hi GeekyEggo I use the Govee H6159. The led stirp are not connected to the wifi. I control them with bluetooth. Can I also control the led strip with WiFi?

[2022-08-11 16:19] GeekyEggo commented on #15
Hey Luca, thankfully the H6159 are supported by the Govee API; for them to work with the plugin, they will need to be connected to WiFi.

[2022-08-26 05:13] RomanXIV opened #16 "Action not working"
I have the latest version of the plugin as well as the latest version of the app. However I still run into the issue where when I click on my stream deck it shows a green checkmark but nothing actually happens. The plugin does recognize my Govee and I have product model H6062 which is compatible, but I still can't get the action to actually be applied. Any suggestions?

[2022-08-26 08:50] GeekyEggo commented on #16
Hey @RomanXIV, so I can look into this further, could you please upload the log files, they can be found at `%appdata%\Elgato\StreamDeck\Plugins\com.geekyeggo.goveecontroller.sdPlugin\logs`.

[2022-08-27 02:49] RomanXIV commented on #16
Hey @GeekyEggo I tried to find the logs but when I went into com.geekyeggo.goveecontroller.sdPlugin there were no logs it showed a folder for images and a folder for pi. Then a bunch of files below.  I requested a new API and tried again but nothing changed as of yet. what should I try next?

[2022-08-27 09:17] GeekyEggo commented on #16
I’d recommend trying the latest [beta version](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin); there are a lot of fixes within here that might solve your issue. Download and try with this version, and if that doesn’t work, check to see if any log files were generated and we’ll go from there.

[2022-08-27 20:46] andrew-mitchell-721 opened #17 "Installation Issues"
### Pre-Checks

- [X] The device is connected to WiFi.
- [X] The device is supported by [Govees API](https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf).

### Operating System

macOS

### Govee Device

Multiple - haven't gotten to the point of needing to add them yet, so this isn't the issue.

### Bug Description

When trying to download via [this page](https://apps.elgato.

[2022-08-28 15:08] GeekyEggo commented on #17
Hey @andrew-mitchell-721, could I ask you to try the [latest beta version](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin); hopefully this should solve the problem. 🤞

[2022-08-28 15:12] andrew-mitchell-721 commented on #17
That worked perfectly! Thanks for the quick response!

[2022-08-28 15:12] #17 closed

[2022-08-29 21:41] oooJYNXooo commented on #16
Hi! I just got the streamdeck and noticed that the moment I set up multiple commands on many ligths, that it will show a yellow EXCLAMATION sign and not execute the commands.  I also looked in the logs as you suggested to the other user and see nothing. How would I go about installing this beta version?  many thanks!

[2022-08-29 21:43] oooJYNXooo commented on #16
never mind on how to install... figured it out. Had to first uninstall. Same problem however!

[2022-08-29 22:41] GeekyEggo commented on #16
Hey @oooJYNXooo, could you raise a new ticket detailing the problem you’re having please. I’ll look into it.

[2022-08-30 00:25] oooJYNXooo opened #18 "Too many actions at once stops further actions until some time passes"
### Pre-Checks

- [X] The device is connected to WiFi.
- [X] The device is supported by [Govees API](https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf).

### Operating System

Windows

### Govee Device

Givee Lights and switches
H6008
H5080

### Bug Description

I've setup a multi action shortcut in the streamdeck to do many things.
It seems that after turning on 3 lights,

[2022-08-30 15:17] GeekyEggo commented on #18
Hey @oooJYNXooo, thanks for the providing a good amount of information as to what's happening; Govee recently implemented API throttling, which I suspect may be the case here. To confirm, could I ask you to download the [latest beta version](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin) of the plugin. This version includes additional log

[2022-08-30 15:19] GeekyEggo commented on #13
Hey @Nob0dyExp3cts, apologies for the _very_ late reply; Govee introduced API throttling earlier this year, which are likely causing issues in this scenario. Could I ask you to download the [latest beta version](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin) of the plugin that includes additional logging. After trying with this version, l

[2022-08-30 18:00] oooJYNXooo commented on #18
Response: TooManyRequests Rate limit exceeded, retry in 53 seconds.

Response: TooManyRequests Rate limit exceeded, retry in 54 seconds.

Rate limit exceeded, retry in 54 seconds.

[2022-08-30 18:01] oooJYNXooo commented on #18
This really sucks. I had set up a whole bunch of combinations to change lights on the fly while gaming, and it always stops when I most need it!
Is there any way to by pass this?

[2022-08-30 18:51] GeekyEggo commented on #18
Sadly not, but you might be able to adjust your setup and reduce the number of calls to be within the thresholds defined in the [Govee API specification](https://govee-public.s3.amazonaws.com/developer-docs/GoveeDeveloperAPIReference.pdf). In an ideal world there would be better support for “scenes” to reduce the number of requests; I’m sorry I couldn’t be of more help.

[2022-08-30 18:51] #18 closed

[2022-08-30 18:52] #15 closed

[2022-09-24 17:13] chaixshot opened #19 "Lan control?"
### Pre-Checks

- [x] The device is connected to WiFi.
- [X] The device is supported by [Govees API](https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf).

### Operating System

Windows

### Govee Device

All

### Bug Description

New govee firmware update has lan control enable for all device.
Can you update this script for support that?

### Logs

_No response_

[2022-09-24 22:35] GeekyEggo commented on #19
Hey @chaixshot, checking the [Govee API docs](https://govee-public.s3.amazonaws.com/developer-docs/GoveeDeveloperAPIReference.pdf), it seems the devices still require WiFi to be controlled via the API.

[2022-09-27 12:42] GeekyEggo commented on #19
Hey @chaixshot, thanks for bringing my attention to this, I wasn't aware Govee had added support for appliances. I would love to add this functionality, but at the moment I don't have any devices to test this with. Should this change, I will release an update with the added features. 👍

[2022-09-27 12:43] #19 closed

[2022-10-13 22:39] itzerik opened #20 "Actions not working"
### Pre-Checks

- [X] The device is connected to WiFi.
- [X] The device is supported by [Govees API](https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf).

### Operating System

Windows

### Govee Device

h6062 h610a they are rgbic wall lights

### Bug Description

okay my problem is the same as some have already mentioned after i put the api and actions and save it works th

[2022-10-13 23:21] GeekyEggo commented on #20
Hmm, this is interesting; these are the first logs that indicate a new error. I’m not sure what’s causing it, but I’ll take a look this weekend.

[2022-10-13 23:49] itzerik commented on #20
Ok hopefully this issue is found thx

[2022-10-14 18:27] GeekyEggo commented on #20
I've re-worked how HTTP request are made; could you please try with the [latest beta, v1.2.2](https://github.com/GeekyEggo/GoveeController/raw/fix-http/dist/com.geekyeggo.goveecontroller.streamDeckPlugin) and let me know how you get on over the weekend.

[2022-10-14 18:29] GeekyEggo commented on #7
Hey @misterburnz, as part of #20, I've reworked how HTTP requests are made. This also includes changes to the settings window. Here's a link to the [latest beta, v1.2.2](https://github.com/GeekyEggo/GoveeController/raw/fix-http/dist/com.geekyeggo.goveecontroller.streamDeckPlugin), hopefully this might help 🤞

[2022-10-14 18:30] #12 closed

[2022-10-14 18:30] GeekyEggo commented on #13
Closing to inactivity, please feel free to add a comment if required.

[2022-10-14 18:30] #13 closed

[2022-10-14 18:31] GeekyEggo commented on #16
Consolidating all generic failures into #20, which resolves some HTTP errors.

[2022-10-14 18:31] #16 closed

[2022-10-16 01:06] itzerik commented on #20
Ok will try today

[2022-10-16 04:31] itzerik commented on #20
oops accidently typed this

[2022-10-16 04:33] itzerik commented on #20
2022-10-15 23:03:21.0266 [DEBUG] GoveeController.Govee.GoveeService: Getting devices from API.
2022-10-15 23:03:24.9244 [DEBUG] GoveeController.Govee.GoveeService: Getting devices from API.
2022-10-15 23:03:27.1411 [DEBUG] GoveeController.Govee.GoveeService: Getting devices from API.
2022-10-15 23:04:15.7622 [DEBUG] GoveeController.Govee.GoveeService: Getting devices from API.
2022-10-15 23:04:15.

[2022-10-16 12:14] GeekyEggo commented on #20
That’s fantastic news, @itzerik!

I’ll promote the beta to an official release later this week. You can continue to use the beta, and won’t need to change anything further. The plug-in will automatically change to the official release when it’s available. 👍

[2022-10-18 18:03] Stoyvo opened #21 "Plugin Missing for M1 Macs"
### Pre-Checks

- [X] The device is connected to WiFi.
- [X] The device is supported by [Govees API](https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf).

### Operating System

macOS

### Govee Device

H6062

### Bug Description

In Stream Deck Plugins, on Windows 11 this plugin is available, however M1 Macs do not have this plugin available.

Works flawlessly with Windows

[2022-10-18 18:09] GeekyEggo commented on #21
Hey @Stoyvo, could you try with the latest beta, v1.2.2; you can download it from [here](https://github.com/GeekyEggo/GoveeController/raw/fix-http/dist/com.geekyeggo.goveecontroller.streamDeckPlugin).

[2022-10-18 18:14] Stoyvo commented on #21
@GeekyEggo How do I install it?

[2022-10-18 18:15] Stoyvo commented on #21
Oh... you just double click. Sorry for the noob question.

[2022-10-18 18:29] Stoyvo commented on #21
@GeekyEggo It appears to work, however it appears to be intermittent. This may be due to multi-actions and API rate limits? Haven't seen the issue on Windows 11 though.

[2022-10-20 12:15] GeekyEggo commented on #21
The intermittency could be the result of the API, which can prove temperamental at times, particularly when using multi-actions. If you continue to experience problems, I'll be happy to take a look at them in a new ticket.

[2022-10-20 12:15] #21 closed

[2022-10-20 12:19] #20 closed

[2022-10-21 13:52] dartiss opened #23 "Won't install on Streamdeck"
I'm getting this error when trying to install the plugin...

<img width="578" alt="Screenshot 2022-10-21 at 14 51 24" src="https://user-images.githubusercontent.com/14928971/197212166-1aec5b2b-1c5c-4e23-ad08-3c579b8795ff.png">

This is on a MacBook Pro M1 Pro, MacOS 12.6

[2022-10-21 13:53] GeekyEggo commented on #23
Hey @dartiss, is this via the Stream Deck store, or the [latest beta](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin)?

[2022-10-21 13:58] dartiss commented on #23
It was from Github but wasn't the beta... just tried that and it's worked.

It's not in the Stream Deck store, is it (I can't find it)?

[2022-10-21 14:25] GeekyEggo commented on #23
The macOS one is currently marked as beta as I haven't been able to test it myself; it has been tested by other members of the community however, so should work fine.

[2022-10-21 14:26] #23 closed

[2022-11-03 14:42] madmonkeyfun opened #24 "API code not staying connected"
### Pre-Checks

- [X] The device is connected to WiFi.
- [X] The device is supported by [Govees API](https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf).

### Operating System

Windows

### Govee Device

Govee glide wall lights

### Bug Description

When I enter my API key into the app it works for the day, as soon as I turn off my PC and fire it up the next day the plugin

[2022-11-03 14:50] GeekyEggo commented on #24
Hey @madmonkeyfun, could I ask you to try with the latest beta version ([download](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin)); this includes a lot of fixes that will hopefully resolve the issue.

[2022-11-03 15:11] madmonkeyfun commented on #24
Ok, Thank you, I'll give it try over the next couple of days and let you know how I get on

[2022-11-03 15:41] #7 closed

[2022-11-05 03:05] biglat1595 commented on #24
I have the same problem. I can try also tomorrow with the beta version.

[2022-11-05 21:33] biglat1595 commented on #24
Hey @GeekyEggo tests are OK for me. After restart my computer, plugin continues to work.

[2022-11-06 09:37] madmonkeyfun commented on #24
Good Morning, Sorry for not replying earlier, I can confirm that the Beta version worked for me, thank you for that, Do you have any plans to add the choice for adding scenes to the software, we can already select colours but on the Govee app you can add a scene that move, not sure if it's something you have planned or not.

[2022-11-07 16:04] GeekyEggo commented on #24
Great to hear the latest beta has resolved the problem!

@madmonkeyfun, regarding scenes; sadly this aren't yet supported by the public Govee API. Should that functionality become available, I'll do what I can to add support in the plugin.

[2022-11-07 16:04] #24 closed

[2022-11-10 22:47] GGB195 opened #25 "Stream Deck recognizing H6159, but not changing anything"
My stream deck has stopped controlling my strip lights. I have requested a new API from Govee, as well as uninstalled the Govee Controller from the stream deck and reinstalled it. The stream deck is finding the strip lights, as well as giving the green check mark, but nothing is changing. I have full control of the strip lights from the app. Just not able to control them from the stream deck.
[Gov

[2022-11-10 23:03] GeekyEggo commented on #25
Hey @GGB195, I’ve had a look at the logs, but nothing is jumping out at me. Could I ask you to try with the latest beta ([download link](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin)).

[2022-11-11 00:35] GGB195 commented on #25
@GeekyEggo After downloading the latest beta, I still was having the same problems. I ended up turning my phone off, no change. I checked to see if the iPhone app needed to be updated, it was up to date. I re-entered the wifi settings info, now it is working. The joys of tech. Thanks for the responsiveness!

[2022-11-11 00:42] GeekyEggo commented on #25
I had a similar issue with the WiFi on my lightstrip; it said it was connected, but definitely wasn’t. It required a factory reset to fix it. 🙈

Glad to hear the problem is resolved.

[2022-11-11 00:42] #25 closed

[2022-11-14 01:25] Daarka commented on #15
I have this same issue. I am connected to wifi on the device, and its model is H5082. I also have two H5101 models that aren't showing up, either. If these aren't supported in the API, is there any workaround? :(

[2022-11-15 13:12] GeekyEggo commented on #15
Hi @Daarka, sadly this is completely at the control of Govee. As new products are released, support is added for them. This can sometimes mean support for older models too. My recommendation would be to email them an express interest in API support for that model - the more people that do, will give them a better insight into where developer efforts should be focused.

[2022-11-15 22:41] Psykrot opened #26 "Setup Failed when entering API key"
I get the message: "Setup failed: rate limited! the limit is 10000 requests every 24 hours. X-RateLimit-Reset in Http Response Header shows the reset time." when entering the API key into the field on the Stream Deck app and clicking Connect

This is a brand new API Key that was applied for about 5 minutes before I input it.

Please let me know if there is something that I am doing wrong

[2022-11-16 00:23] GeekyEggo commented on #26
Hey @Psykrot, could I ask you to try with the [latest beta](https://github.com/GeekyEggo/GoveeController/raw/main/dist/com.geekyeggo.goveecontroller.streamDeckPlugin); it includes a lot of fixes, particularly around entering an API key.

If the problem persists with the beta, if you upload the logs, I’ll take a look. They are located at;
`%appdata%\Elgato\StreamDeck\Plugins\com.geekyeggo.goveecont

[2022-11-16 23:34] Psykrot commented on #26
Yes! it working flawlessly now. Love that I can use a color picker since IFTTT only has pre-chosen colors

[2022-11-17 00:15] GeekyEggo commented on #26
That's fantastic news! 🥳

[2022-11-17 00:15] #26 closed

[2022-11-23 01:22] sparkyga opened #27 "Setup failed: Invalid API Key"
### Pre-Checks

- [X] The device is connected to WiFi.
- [X] The device is supported by [Govees API](https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf).

### Operating System

Windows

### Govee Device

### Setup failed: Invalid API Key###

**Device: **RGBIC Led Strips
**Product Model: **H617E

### Bug Description

Getting an error when putting in a valid API key

I am cur

[2022-11-23 16:26] GeekyEggo commented on #27
Hey @sparkyga, in Stream Deck, can you right-click one of the actions in the right hand side to view the version of the plugin, it should say 1.2.2, like so:
![image](https://user-images.githubusercontent.com/1429781/203597867-db8fdb1d-f27f-4862-8bb1-128cf403d74f.png)

As you're running on Windows, the logs should hopefully be located at:
`%appdata%\Elgato\StreamDeck\Plugins\com.geekyeggo.goveecon

[2022-11-24 11:29] madmonkeyfun opened #28 "App not working again,"
Hi,
I have an issue with the app again, I had to reset my PC a few days ago and have used the Beta link that you sent me, unfortunately I am unable to control the lights from my stream deck, I have deleted the plugin from my streamdeck, rebooted the PC, downloaded the plugin from the link you posted. entered my Api key and when I pressed the key I get a warning triangle that it isn't working.
Any

[2022-11-24 11:38] #28 closed

[2022-11-24 11:39] madmonkeyfun commented on #28
Sorry, My stupid brain cell hasn't engaged properly yet, I forgot to check that my lights were actually connected to the Wi-Fi.

[2022-11-24 19:43] sparkyga commented on #27
Okay I found the logs:
[GoveeController.log](https://github.com/GeekyEggo/GoveeController/files/10087000/GoveeController.log)

I also can confirm that it is 1.2.2

What's next?

-Sparkyga

[2022-11-24 23:46] GeekyEggo commented on #27
Thanks @sparkyga.

I’ve had a look at the logs, and there’s good news and bad news. The good news is the API key is okay. Sadly however, after looking at [Govee’s documentation](https://govee-public.s3.amazonaws.com/developer-docs/GoveeDeveloperAPIReference.pdf), the H617E isn’t listed as supported by their public API. This means the plug-in won’t be able to control the light-strip.

I’m sorry I c

[2022-11-24 23:46] #27 closed

[2022-11-25 19:05] pabloramiirezz opened #29 "No funciona la opcion"
### Pre-Checks

- [X] The device is connected to WiFi.
- [X] The device is supported by [Govees API](https://govee-public.s3.amazonaws.com/developer-docs/GoveeAPIReference.pdf).

### Operating System

Windows

### Govee Device

las luces son
H613B

### Bug Description

al principio me daba error y no podía ponerla ip me metí aquí y vi que le ayudaste a unos cuantos con la ip y descargue la versión

[2022-11-25 19:13] GeekyEggo commented on #29
Hi @pabloramiirezz, desafortunadamente, Govee’s API no es compatible con ese dispositivo.

[2022-11-25 19:13] #29 closed

[2022-11-25 20:59] pabloramiirezz commented on #29
y no puedes hacer q sea compatible?

[2022-11-25 21:07] GeekyEggo commented on #29
No puedo lo siento. Solo Govee puede agregar soporte.

[2022-11-26 21:25] sparkyga commented on #27
Oh, thats unfortunate... hopefully Govee adds support for these in the future, thanks for helping.